{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center">{{ legend }}</div>
            <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.titulo.label(class="form-control-label") }}
                            {% if form.titulo.errors  %}
                                {{ form.titulo(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.titulo.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.titulo(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.director.label(class="form-control-label") }}
                            {% if form.director.errors  %}
                                {{ form.director(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.director.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.director(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.imagen.label() }}
                            {{ form.imagen(class="form-control-file") }}
                            {% if form.imagen.errors %}
                                {% for error in form.imagen.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group float-right">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}