{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center">Calificar</div>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <!-- input hidden -->
                            {{ form.comentario_id() }}
                            {{ form.comentario() }}
                            {{ form.pelicula_id() }}
                            {{ form.sentimiento() }}
                            <!--  -->
                            {% if form.calificar.errors  %}
                                {{ form.calificar(class="is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.calificar.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.calificar(class="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}