.separator{
    margin-bottom: 70px !important;
}

.card-custom{
    background-color: #000;
    color:#fff;
    border-top: 6px solid #db3408;
    min-height: 150px!important;
}

.card-title{
    font-weight: bold;
}

.link{
    color: transparent !important;
}

.card{
    margin-bottom: 15px !important;
}

.card-custom:hover{
    background-color: #db3408;
}

.card-admin{
    color: #000!important;
}

.card-img{
	max-height: 330px!important;
}